/*
Автор вёрстки: Семёнов Роман
--------------------
Контакты для связи:
--------------------
Skype: styller_sr
Email: root@it-manual.ru
/*


/* Шрифт */
@font-face {
	font-family: 'Veles-conv';
	src: url('../fonts/Veles-Regular.0.9.2.eot');
	src: local('☺'), url('../fonts/Veles-Regular.0.9.2.woff') format('woff'), url('../fonts/Veles-Regular.0.9.2.ttf') format('truetype'), url('../fonts/Veles-Regular.0.9.2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Хак для FF */
@-moz-document url-prefix() {
.menu_top {
margin-bottom:24px;
}
}

/* Основные классы */
html {
margin:0;
padding:0;
height:100%;
position:relative;
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
}

textarea {
overflow:auto;
}

a {
text-decoration:inherit;
color:inherit;
}

a img {
border:none;
outline:none;
}

button, input, textarea, select {
outline:none;
font-size:14px;
}


/* Фон в боди не подключаем т.к нужно отценрировать серые полоски потому так.*/
.fon {
background:url(../img/background.png) center repeat;
height:100%;
width:100%;
position:fixed;
top:0px;
z-index:0;
padding-left:20px;
}

/* Тело */
body {
background:#d6c49c;
margin:0;
padding:0;
font-size:14px;
font-family:Verdana, Tahoma, Arial, serif;
height:100%;
color:#231f20;
}


/* Разметка структуры центрального блока, общая обертка */
#site, .top, .cnt {
background:#fff;
}

#site {
margin:0 auto;
width:980px;
position:relative;
min-height:100%;
z-index:1;
}

/* top */
.top {
position:relative;
padding-left:72px;
padding-right:72px;
}

/* Язык */
.lang {
float:left;
text-transform:uppercase;
color:#754c29;
margin-top:21px;
font-size:10pt;
position:relative;
z-index:1;
}

.lang a {
color: #754c29;
text-decoration:none;
margin-right:6px;
}

.lang a.active, .lang .lang-active {
font-weight:bold;
}

.lang, .adress {
color:#754c29;
}

/* Адрес */
.adress {
font-size:8pt;
float:right;
text-align:right;
margin-top:21px;
position:relative;
z-index:1;
}

.adress b {
display:block;
font-size:13px;
margin-bottom:7px;
}

.adress a {
color:#754c29;
text-decoration:underline;
font-size:9px;
}

/* Зачистка после float*/
.clr {
clear:both;
}

/* logo */
.logo {
background:url(../img/logo.png) center no-repeat;
margin-top:-54px;
height:205px;
position:relative;
z-index:0;
display:block;
text-align:center;
}

.logo a {
	/*display:inline-block;*/
	position:absolute;
	width:200px;
	height:200px;
	/*margin:0 auto;*/
	left: 318px;
}
/* Бронирование */

.bron {
width:100px;
height:118px;
background:url(../img/bron.gif) no-repeat;
position:absolute;
top:97px;
left:70px;
z-index:1;
}


.bron div {
position:relative;
}

.bron  a {
position:absolute;
width:100px;
bottom:0px;
height:38px;
left:0px;
}


/*Соц закладки */
.social {
position: absolute;
top: 192px;
right: 68px;
z-index: 1;
}


.social a {
float:left;
margin-left:0px;
}

.social a.vk {
background:url(../img/social.png) no-repeat;
width:27px;
height:25px;
display:block;
}

.social a.facebook {
background:url(../img/social.png) -26px 0px no-repeat;
width:27px;
height:25px;
display:block;
}


/* Верхняя навигация */
.menu_top {
margin-top:2px;
text-align:left;
white-space: nowrap;
word-wrap: normal;
margin-bottom:9px;
}



.menu_top ul {
margin:0;
padding:0;
}

.menu_top a, .menu_top span {
	font-family:Veles-conv;
	font-size:18px;
	color:#58595b;
	list-style:none;
	display:inline;
	margin-left:68px;
	text-decoration:none;

}

.menu_top a:first-child, .menu_top span:first-child {
margin-left:0px;
}

/*.menu_top a:last-child {
margin-left:64px;
}*/

.menu_top a:hover, .menu_top span.active a  {
color:#ac4598;
}


/* Content блок с именем cnt */
.cnt {
padding-bottom: 60px;
padding-left:72px;
padding-right:72px;
position:relative;
}


/*Приветствие */
.info, .item-page {
color:#231f20;
font-size:12px;
margin-top:20px;
}

.info h3, .item-page h2 {
font-weight:normal;
margin-top:-12px;
font-size:20px;
margin-bottom:13px;
}

.info span {
line-height:13px;
}


/* Бизнес ланч, именникники подарки бокал вина */

.tovarmain {
margin-top:24px;
height:195px;
}

.tovarmain a:first-child img {
margin-left:0px;
}

.tovarmain a img{
width:264px;
margin-left:16px;
}



/*Подвал */
.footer {
position:absolute;
bottom:28px;
left:72px;
padding-top:20px;
font-size:11px;
display:block;
text-align:left;
color:#754c29;
}



/* Новости  список*/
.newslist {
width:858px;
}


/* вид новости */
.post {
float:left;
width:268px;
margin-right:17px;
margin-bottom:24px;
}

/*Вид фотки к новости */
.post .imgpost img {
width:267px;
min-height:180px;
overflow:hidden;
}

.post .imgpost  {
width:267px;
height:180px;
overflow:hidden;
position:relative;
}

/*Дата новости */
.post .imgpost span.date {
display:block;
position:absolute;
bottom:0px;
left:0px;
text-align:center;
color:#e3dbc5;
background:#ac4598;
height:34px;
line-height:30px;
width:146px;
font-size:20px;
}

/*Заголовок и параметры ссылки */
.post h3 {
color:#231f20;
font-weight:normal;
font-size:21px;
margin-top:19px;
margin-bottom:12px;
}

.post h3 a {
text-decoration:none;
color:#231f20;
}


/*Текст новости */
.posttext {
font-size:12px;
line-height:14px;

}

.posttext a.fullpost {
color:#ac4598;
display:block;
text-align:right;
font-size:12px;
text-decoration:none;
margin-top:5px;
}




/*Галерея*/
.gallery {
width:855px;
}

/*Фотка в галереи */
.gallery .photo {
width: 266px;
height: 161px;
overflow:hidden;
float:left;
margin-right:19px;
margin-bottom:14px;
}

.gallery .photo img {
width: 266px;
min-height: 161px;
}

/*Навигация */
.navigation {
float:right;
color:#6d6e71;
font-size:11px;
}

.navigation ul{
margin:0;
padding:0;
line-height:16px;
}

.navigation li {
list-style:none;
float:left;
}

.navigation li span {
color:#231f20;
padding-left:3px;
padding-right:3px;
padding-top:0px;
padding-bottom:0px;
border:1px solid #7e7e81;
border-radius:2px;
}

.navigation a {
color:#6d6e71;
text-decoration:none;
}

.navigation .prew_page, .navigation .next_page {
background:#c6439c;
text-align:center;
color:#eafcce;
height:17px;
width:17px;
display:block;
margin-left:1px;
font-size:14px;
line-height:17px;
}

.navigation .prew_page {
margin-left:4px;
}


.navigation .prew_page:hover, .navigation .next_page:hover {
background:#dc71bc;
color:#e7f0c6;
}


/* Вид самого товара класс inside */
.inside {
margin-top:3px;
}


/* Большая фотка в inside */
.inside .photofull {
float:left;
width:266px;
}


.inside .photofull img {
width:266px;
}


/*Описание товара + нзвание + цена = общий класс */
.specifica {
float:right;
width:550px;
}

/*Нвазание товара*/
.specifica h3{
font-weight:normal;
font-size:21px;
margin-top:-3px;
margin-bottom:0px;
}

/* Дата */
.specifica div.date {
background:#ac4598;
width:145px;
text-align:center;
height:33px;
line-height:30px;
color:#e3dbc5;
font-size:20px;
margin-top:10px;
}

/*Текст к товару*/
.description {
font-family:Verdana;
margin-top:12px;
font-size:12px;
line-height:1.25em;
}





/* Страницы с левым нацигационным меню */
.b_prod {
margin-top:-4px;
}

/* Левое меню */
.nm_left  {
float:left;
width:112px;
}

.nm_left ul {
margin:0;
padding:0;
color:#a08a5f;
text-decoration:none;
font-size:13px;
}

.nm_left ul li {
list-style:none;
border-bottom:2px solid #e7d8b8;
padding-top:6px;
padding-bottom:5px;
}

.nm_left ul li:first-child {
padding-top:0px;
}

.nm_left ul li a{
color:#a08a5f;
text-decoration:none;
}

.nm_left ul li a:hover, .nm_left ul li a.active {
color:#ac4598;
}

/*podmenu*/
.ml_sub {
background:url(../img/noactive.png) right 6px no-repeat;
padding-right:15px;
}

.submenu:hover a.ml_sub {
background:url(../img/select.png) right 4px no-repeat;
padding-right:15px;
color:#ac4598;
}


.submenu ul li{
border:none;
padding-top:3px;
padding-bottom:3px;
font-size:11px;
}

.submenu ul {
margin-top:5px;
}

.submenu#active ul.s_menu{
display:block;
}

.submenu#active .ml_sub{
background:url(../img/select.png) right 4px no-repeat;
color:#ac4598;
}

/*.submenu ul.s_menu {
display:none;
}*/

.submenu:hover ul.s_menu {
display:block;
}





/*Правая сторона блоков с товарами */
.r_block {
float:right;
width:698px;
margin-top:4px;
}


.r_block .vidb{
background:#fff;
padding-left:10px;
padding-top:13px;
padding-right:10px;
padding-bottom:13px;
width:141px;
height:198px;
-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.25);
box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.25);
z-index:2;
position:relative;
float:left;
margin-right:18px;
margin-bottom:14px;
}


.vidb .photo {
width:139px;
height:124px;
overflow:hidden;
margin-bottom:4px;
}

.vidb .photo img {
width:139px;
min-height:124px;
}

a.name {
font-size:11px;
text-decoration:none;
color:#231f20;
}

/* МАсса */
.vidb .massa {
color:#a4a6a9;
font-size:7px;
position:absolute;
/*top:187px;*/
bottom:10px;
left:9px;
}

.vidb .massa span {
color:#231f20;
display:block;
margin-top:6px;
font-size:9px;
}




/*Цена*/
.vidb .price {
color:#a4a6a9;
font-size:7px;
position:absolute;
/*top:187px;*/
bottom:10px;
right:13px;
text-align:right;
}

.vidb .price span {
color:#231f20;
display:block;
margin-top:1px;
font-size:15px;
}


/*Листинг блоков */
.l_vidb {
width:750px;
}


/*Таблица вина */
.winelist {
background:#fff;
-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.55);
-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.55);
box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.55);
margin-bottom:10px;
}

.winelist div {
padding-bottom:24px;
}

.winelist table {
width:100%;
 border-collapse: separate;
 border-spacing: 0px;
border-collapse: collapse;
padding-top:9px;
vertical-align:middle;
}

.winelist table td {
background:#f7f1e4;
padding-top:3px;
padding-bottom:3px;
font-size:11px;
vertical-align:middle;
border-bottom:7px solid #ffffff;
}

.winelist table tr td:first-child {
padding-left:24px;
width:74%;
}

.winelist table tr td.cena {
padding-right:24px;
text-align:right;
font-size:15px;
}

.winelist table tr td.ves {
font-size:9px;
padding-right:3px;
}

.winelist table tr th {
padding-top:10px;
text-align:left;
padding-left:24px;
font-weight:normal;
padding-bottom:8px;
}

.winelist table tr th b{
margin-top:6px;
display:block;
}

.winelist th i {
display:block;
margin-top:3px;
margin-bottoM:3px;
color:#a08a5f;
font-size:13px;
}

.winelist th b{
font-size:13px;
}

.winelist table tr:first-child td, .winelist table tr td.topw {
background:none;
padding-left:0;
border-bottom:none;
}


.winelist .topw span {
color:#a4a6a9;
font-size:9px;
}

.winelist .rigt_text {
text-align:right;
padding-right: 24px;
}


input.fdb-textfield {
	width: 375px;
	padding: 4px;
	border: 1px solid #cacaca;
}
.form {
	font-size:12px;
}
.form input.short {
	width: 75px;
}
.form textarea.fdb-textarea {
	width: 375px;
	height: 120px;
	padding: 4px;
	border: 1px solid #cacaca;
}
.form input.fdb-secfield {
	width: 80px;
	height: 22px;
	padding: 4px;
	border: 1px solid #cacaca;
}
a.order:hover {
	background-color: #5c604b;
	color: #fffbce;
}
a.order {
	background-color: #bdc26f;
	color: #5c604b;
	font-size: 14px;
	text-decoration: none;
	display: block;
	float: right;
	padding: 3px 15px 3px 15px;
	height: 18px;
	margin: 0px 1px 0px 1px;
	margin-top: 4px;
}
.fdb-errors {
	text-align: center;
	color: #7A0625;
	width: 624px;
}
#ui-datepicker-div {
	font-size:12px;
}
#wrapJsiBox {
position: absolute;
top: 0px;
left: 0px;
display: none;
z-index: 100;
background-color: black;
opacity: 0.75;
filter: alpha(opacity=75);
height: 600px;
width: 972px;
}